.Button {
  padding: 8px 32px;
  margin-top: 50px;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border-style: none;
}

.Button:focus {
  outline: 0;
}

.Button_normal {
  background-color: #757575;
  color: #ffffff;
}

.Button_normal:hover {
  background-color: #424242;
}

.Button_normal:active {
  background-color: #212121;
}

.Button_primary {
  background-color: #8bc34a;
  color: #ffffff;
}

.Button_primary:hover {
  background-color: #558b2f;
}

.Button_primary:active {
  background-color: #33691e;
}
