.PassageComponent {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.passage_title {
  font-size: 18px;
  font-weight: bold;
  color: #404040;
}

.passage_footer button {
  margin-right: 10px;
}
