.Input {
  padding: 8px 32px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
}

.Input:focus {
  outline: 0;
}

.Input_vocabulary {
  width: 100%;
}

.message-label {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

.message-error {
  color: #ff0000;
}

.message-success {
  color: #8bc34a;
}
